<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class=" bar-positive" data-comp-id="nav-bar.1"
        style="border-bottom: 1px solid rgba(255, 255, 255, 0);">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-ios-arrow-left" data-comp-id="button.1"
                ng-click="app.action('linedata', 'goToLanding', this)"
                style="color: rgb(255, 255, 255);"></button>
            <button class="button button-icon ion-navicon" data-comp-id="button.2"
                ng-click="app.go('app.menu')" style="color: rgb(255, 255, 255);"></button>
        </ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1" ng-bind-html="data.linename">Line data</ion-nav-title>
        <ion-nav-buttons side="right"></ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class=" stable-bg" data-comp-id="ionic-content.1">
        <div class=" light-bg btmshadow" data-comp-id="div.1"
            style="margin: 0px; border-bottom: 1px solid rgb(238, 238, 238);">
            <div class="row" data-comp-id="row.1" style="padding: 15px 15px 0px;">
                <div class="col" data-comp-id="column.1">
                    <div class=" dark" data-comp-id="text.1" ng-bind="data.title"
                        style="font-size: 18px;">Title goes here</div>
                    <div data-comp-id="text.2" ng-bind="data.DescriptShort"
                        style="font-size: 16px; color: rgb(102, 102, 102); font-weight: normal; margin: 4% 0% 0%;">Description goes here</div>
                </div>
            </div>
            <div class="row" data-comp-id="row.3" style="margin: 5% 0%;"></div>
        </div>
        <div class=" light-bg" data-comp-id="div.2"
            style="margin: 0px; border-top: 1px solid rgb(238, 238, 238); border-bottom: 1px solid rgb(238, 238, 238);">
            <div class="row" data-comp-id="row.4">
                <div class="col" data-comp-id="column.3"
                    style="border-bottom: 1px solid rgb(238, 238, 238); padding: 15px 15px 15px 10px;">
                    <div data-comp-id="text.3" ng-bind="data.title"
                        style="font-size: 18px; color: rgb(51, 51, 51); font-weight: bold;">Title-1</div>
                </div>
            </div>
            <div class="row" data-comp-id="row.5" style="margin: 5px 0px 0px;">
                <div class="col" data-comp-id="column.4" style="padding: 5px 5px 5px 10px;">
                    <div data-comp-id="text.4" ng-bind="data.description"
                        style="color: rgb(102, 102, 102); font-size: 16px;"></div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>